html {overflow-y: scroll;}

.title {
    font-size: x-large;
}

.title img {
    height: 5vh;
}

.user img {
    height: 3vh;
}

#addOn{
    width: 35px;
}
.banner img {
    width: 100%;
}

.custom-search-button img {
    height: 2vh;
}

.sort img {
    height: 2vh;
}

.result {
    width: 27vw;
}

.border-check {
    border: 1px dotted black;
}

.result img {
    height: 205px;
    width: 150px;
    object-fit: cover;
    border: 1px solid lightgrey;
}

.extra img {
    height:2vh;
}
.container .b-form{
    width: 60%;
}
button a {
    color: black;
    font-weight: 600;
}
button a:hover{
    text-decoration: none;
    color: black;
}
.extra{
    margin-left: 3vw;
}

.top-section img {
    height: 250px;
    width: 340px;
}

.grey-border {
    border: 1px solid lightgrey;
}
b-form-datepicker{
    max-height: 240%;
}
form{
    width: 600px;
}

@media only screen and (max-width: 765px) {
    form{
        width: 400px;
    }
  }
  @media only screen and (max-width: 500px) {
    form{
        width: 250px;
    }
  }
.custom-link :hover {
    cursor: pointer;
}